
<%= cl_image_tag skill.instrument.icon_url, class: "instrument-card1" %>

<div class="card-header">
  <%= skill.instrument.category %>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><%= skill.instrument.name %></li>
  <li class="list-group-item"><%= skill.level %></li>
  <li class="list-group-item"><%= link_to "Edit", edit_skill_path(skill), class: "btn btn-primary" %>
  <%= link_to skill_path(skill), method: :delete, data: { confirm: "Are your sure you want to delete this instrument #{skill.level}"} do %>
  <p><i class= "far fa-trash-alt"></i> Cancel Instrument</p>
    <% end %></li>
</ul>
