<div class="tab">
  <button class="tablinks" onclick="document.openJamtab(event, 'My skills')" id="defaultOpen">My skills</button>
  <button class="tablinks" onclick="document.openJamtab(event, 'Hosting')">Hosting</button>
  <button class="tablinks" onclick="document.openJamtab(event, 'Participations')">Participations</button>
  <button class="tablinks" onclick="document.openJamtab(event, 'Pending')">Pending</button>
<!--   <button class="tablinks" onclick="document.openJamtab(event, 'Profile')">Profile</button> -->
</div>

<div id="My skills" class="tabcontent">
  <div class="container-fluid">
    <div class="row">
      <h3 class="h3-tab-content-title">My skills</h3>
      <% if @skills.empty? %>
        <p style="color:red;">You have to add at least one skill before using SoulJam</p>
      <% end %>

      <button class="btn btn-success" data-toggle="modal" data-target="#newSkillModal">Add a Skill</button>
      <%= render "skills/new_skill_modal" %>

      <% @skills.each do |skill| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "pages/instruments_tab_card", skill: skill %>
          <%= render "skills/edit_skill_modal", skill: skill %>
        </div>
      <% end %>
</div>
  </div>
    </div>

     <div id="Hosting" class="tabcontent">
         <div class="container-fluid">
            <div class="row">
            <h3 class="h3-tab-content-title">Hosting</h3>
            <p><%= link_to "Create a jam session", new_jamm_path %></p>

            <% @jamms.each do |jamm| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "pages/jamms_tab_card", jamm: jamm %>
          </div>
          <% end %>
          </div>
      </div>
    </div>

        <div id="Participations" class="tabcontent">
        <div class="container-fluid">
         <div class="row">
          <h3 class="h3-tab-content-title">Participations</h3>
          <% @myparts.each do |jamm| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "pages/jamms_tab_card", jamm: jamm %>
          </div>
            <% end %>
       </div>
      </div>
    </div>



       <div id="Pending" class="tabcontent">
        <div class="container-fluid">
         <div class="row">
        <h3 class="h3-tab-content-title">Pending</h3>
          <% @myapplications.each do |jamm| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "pages/jamms_tab_card", jamm: jamm %>
          </div>
        <% end %>
        </div>
      </div>
  </div>

<div class="container container-sticky-right">
  <div class="hover">
    <span>Jam Toolbar</span>
    <a class="jam-options-link" href="/" target="_self">
      <i class="fas fa-home"></i></a>
    <a class="jam-options-link" href="/dashboard" target="_self">
      <i class="fas fa-user"></i></a>
    <a class="jam-options-link" href="/jamms" target="_self">
      <i class="fas fa-search"></i>
    </a>
    <%= link_to destroy_user_session_path, method: :delete, class: "jam-options-link",target:"_self",rel:"nofollow" do %>
        <i class="fas fa-sign-out-alt"></i>
        <% t(".sign_out", default: "Log out") %>
    <% end %>
  </div>
</div>


