<div class="tab">
  <button class="tablinks" onclick="document.openJamtab(event, 'Instruments')" id="defaultOpen">My skills</button>
  <button class="tablinks" onclick="document.openJamtab(event, 'Sessions')">My Jams</button>
<!--   <button class="tablinks" onclick="document.openJamtab(event, 'Profile')">Profile</button> -->
</div>

<div id="Instruments" class="tabcontent">
  <div class="container-fluid">
    <div class="row">
      <h3 class="h3-tab-content-title">My skills</h3>
      <% if @skills.empty? %>
        <p>You have to add at least one skill before using SoulJam</p>
      <% end %>
      <p><%= link_to "Add a skill", new_skill_path %></p>
      <% @skills.each do |skill| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "pages/instruments_tab_card", skill: skill %>
        </div>
      <% end %>
</div>
</div>
</div>


<div id="Sessions" class="tabcontent">
  <div class="container-fluid">
    <div class="row">
      <h3 class="h3-tab-content-title">My Jams</h3>
      <p><%= link_to "Create a jam session", new_jamm_path %></p>
        <% @jamms.each do |jamm| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "pages/jamms_tab_card", jamm: jamm %>
          </div>
          <% end %>
          <h3 class="h3-tab-content-title">My Participations</h3>
          <% @myparts.each do |jamm| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "pages/jamms_tab_card", jamm: jamm %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- <div id="Profile" class="tabcontent">
  <h3>Profile</h3>
  <p>Once built profile page here</p>
</div>
 -->
<div class="container container-sticky-right">
  <div class="hover">
    <span>Jam Toolbar</span>
    <a class="jam-options-link" href="/" target="_self">
      <i class="fas fa-home"></i></a>
    <a class="jam-options-link" href="/dashboard" target="_self">
      <i class="fas fa-user"></i></a>
    <a class="jam-options-link" href="" target="_self">
      <i class="fas fa-search"></i>
    </a>
    <%= link_to destroy_user_session_path, method: :delete, class: "jam-options-link",target:"_self",rel:"nofollow" do %>
        <i class="fas fa-sign-out-alt"></i>
        <% t(".sign_out", default: "Log out") %>
    <% end %>
  </div>
</div>
