<% user = participation.user %>

<div>
  <%= cl_image_tag user.avatar, height: 100, radius: 100, crop: :thumb, class: "participant", id: "participant-#{user.id}", "data-id": user.id %>
  <i class= "<%= participation.status == 'Accepted' ? 'fa fa-check' : 'fas fa-times' %>" ></i>
  <p><%= cl_image_tag participation.instrument.icon_url, height: 50, width: 50 %> <%= participation.instrument.name %></p>
  <% if policy(participation).destroy? %>
    <%= link_to "Cancel my participation", jamm_participation_path(participation), method: :delete,
    data: { confirm: "Are you sure ?"} %>
  <% end %>
  <% if policy(participation).accept? %>
   <%= link_to "Accept", jamm_accept_path(participation), method: :patch %><% end %> <% if policy(participation).status? %><%= link_to "Refuse", jamm_refuse_path(participation), method: :patch %><% end %>
</div><br>

<div class="participant-tooltip" id="participant-tooltip-<%= user.id %>" x-placement="top">
  <div class="participant-tooltip-popper">
    <div class="tippy-content">
      <p><%= user.username %></p>
      <p>Using: <%= participation.instrument.name %></p>
      <p>Status: <%= participation.status %></p>
      <span aria-hidden="true"> <i class= "<%= participation.status == 'Accepted' ? 'fa fa-check' : 'fas fa-times' %>" ></i></span>
    </div>
  </div>
</div>


<style>
  .participant-tooltip { display: none; }
  div.participant-tooltip-popper {background-color: #6BCDC1; border-radius: 5px; padding: 5px 5px; font-weight: bold; }
    i.fa-check {
     display: inline-block;
     border-radius: 40px;
     box-shadow: 0px 0px 2px #888;
     padding: 0.5em 0.6em;
     margin-left: -5px;
     position: absolute;
   }
   i.fa-times {
     display: inline-block;
     border-radius: 40px;
     box-shadow: 0px 0px 2px #888;
     padding: 0.5em 0.6em;
     margin-left: -5px;
     position: absolute;
    color: red;
   }

</style>
