
<% user = participation.user %>

<div id="participant-<%= user.id %>">
  <h5><%= user.username %></h5>
  <p>email: <%= user.email %> </p>
  <p>instrument: <%= participation.instrument.name %></p>
  <p>status: <%= participation.status %> </p>
  <% if policy(participation).destroy? %>
    <%= link_to "Cancel my participation", jamm_participation_path(participation), method: :delete,
    data: { confirm: "Are you sure ?"} %>
  <% end %>
  <% if policy(participation).accept? %>
   <%= link_to "Accept", jamm_accept_path(participation), method: :patch %><% end %> <% if policy(participation).status? %><%= link_to "Refuse", jamm_refuse_path(participation), method: :patch %><% end %>
</div><br>
