



<div class="card">
  <div class="card-image-top" style="background: url('https://source.unsplash.com/collection/3471774') no-repeat center center; height: 200px;">
  </div>
</div>
    <div class="card-header">
      <h3><%= @jamm.title %></h3>
    </div>
    <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= @jamm.description %></li>
             <li class="list-group-item">
              <%= @jamm.location %></li>
              <li class="list-group-item"><i class="fas fa-calendar-alt"></i><%= @jamm.date %></li>
              <li class="list-group-item"><i class="fas fa-users"></i><%= @jamm.capacity %></li>
              <li class="list-group-item"><i class="fas fa-clock"></i><%= @jamm.duration %> hr</li>
              <li class="list-group-item">
                <%= User.find(@jamm.creator_id).email %></li>
                <% if policy(@jamm).edit? %>
            <li class="list-group-item">
              <%= link_to "Edit", edit_jamm_path(@jamm) %>
            <% end %>
          <% if policy(@jamm).destroy? %>
            <%= link_to "Delete", jamm_path(@jamm), method: :delete,
                data: { confirm: "Are you sure?" } %><% end %></li>
       <li class="list-group-item">
        <% if policy(@jamm).join? %>
         <%= link_to "Join",  new_jamm_participation_path(@jamm), class: 'btn btn-primary' %><% end %>
          <%= link_to "Send a message", new_jamm_message_path(@jamm), class: 'btn btn-primary' %>
         </li>
         <li class="list-group-item">
        <hr>
        <h3>Participants</h3>
        <% @jamm.participations.each do |participation| %>
         <%= render 'jamms/participation', participation: participation %>
          <% end %>
        <hr> </li>
        <h3>Messages</h3>
        <% @messages.each do |message| %>
        <p><strong><%= message.user.username %></strong>, the <%= message.created_at %></p>
        <p><%= message.content %></p>
        <% end %>
      </ul>
    </div>
  </div>

<div class="container container-sticky-right">
  <div class="hover">
    <span>Jam Toolbar</span>
    <a class="jam-options-link" href="/" target="_self">
      <i class="fas fa-home"></i></a>
    <a class="jam-options-link" href="/dashboard" target="_self">
      <i class="fas fa-user"></i></a>
    <a class="jam-options-link" href="" target="_self">
      <i class="fas fa-search"></i>
    </a>
    <%= link_to destroy_user_session_path, method: :delete, class: "jam-options-link",target:"_self",rel:"nofollow" do %>
        <i class="fas fa-sign-out-alt"></i>
        <% t(".sign_out", default: "Log out") %>
    <% end %>
  </div>
</div>
