<!--   <button class="tablinks" onclick="document.openJamtab(event, 'Profile')">Profile</button> -->
<div class="tab">
  <button class="tablinks" onclick="document.openJamtab(event, 'Jamming Session')" id="defaultOpen">Jamming Session</button>
  <button class="tablinks" onclick="document.openJamtab(event, 'Participants')">Participants</button>
  <button class="tablinks" onclick="document.openJamtab(event, 'Messages')">Messages</button>
  <button class="tablinks" onclick="document.openJamtab(event, 'Reviews')">Reviews</button>
</div>

<div id="Jamming Session" class="tabcontent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3 class="h3-tab-content-title">Jamming session</h3>
        <% if @jamm.photo? %>
          <div style="background: url(<%= cl_image_path @jamm.photo %>) no-repeat center center; background-size: cover;" class="instrument-card2"></div>
        <% else %>
          <div style="background: url(https://source.unsplash.com/collection/572418/free-concert-stock-photos) no-repeat center center; background-size: cover;" class="instrument-card2"></div>
        <% end %>

        <div class="card-header">
           <h3 class="instrument-card-h3"><%= @jamm.title %></h3>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @jamm.description %></li>
          <li class="list-group-item"><%= @jamm.location %></li>
          <li class="list-group-item"><i class="fas fa-calendar-alt"></i><%= @jamm.date %></li>
          <li class="list-group-item">
            <i class="fas fa-users"></i>
            <%= @jamm.capacity %>
            <% if @jamm.capacity == @jamm.participations.where(status: 'Accepted').size %>
              <span style="color:red;"><strong> This jam is full </strong></span>
            <% end %>
          </li>
          <li class="list-group-item"><i class="fas fa-clock"></i><%= @jamm.duration %> hr</li>
          <li class="list-group-item"><%= User.find(@jamm.creator_id).email %></li>
          <li class="list-group-item">
            <% if policy(@jamm).edit? %>
              <%= link_to "Edit", edit_jamm_path(@jamm) %>
            <% end %>

            <% if policy(@jamm).destroy? %>
              <%= link_to "Delete", jamm_path(@jamm), method: :delete,
                data: { confirm: "Are you sure?" } %>
            <% end %>
          </li>
          <li class="list-group-item">
            <% if policy(@jamm).join? %>
            <button class="btn btn-success" data-toggle="modal" data-target="#newJoinModal">Join</button>
              <%= render "participations/new_join_modal" %>

            <% end %>
            <button class="btn btn-success" data-toggle="modal" data-target="#newMessageModal">Send a message</button>
            <%= render "messages/new_message_modal" %>
            <% if policy(@jamm).review? %>
              <%= link_to "Review this jam", new_jamm_review_path(@jamm), class: 'btn btn-primary' %>
            <% end %>
         </li>
        </ul>
      </div>

      <div class="col-xs-12 col-md-6" style="position: sticky; top: 10px;">
         <div
            id="map"
            style="width: 100%;
            height: calc(100vh - 20px);"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            >
          </div>
      </div>
    </div>
  </div>
</div>

<div id="Participants" class="tabcontent">
  <div class="container-fluid">
    <div class="row">
        <h3 class="h3-tab-content-title">Participants</h3>
            <% @jamm.participations.each do |participation| %>
              <div class="col-xs-4 col-sm-3 col-md-2">
                <%= render 'jamms/participation', participation: participation %>
              </div>
            <% end %>
    </div>
  </div>
</div>

<div id="Messages" class="tabcontent">
  <div class="container-fluid">
    <div class="row">
        <h3 class="h3-tab-content-title">Messages</h3>
        <% @messages.each do |message| %>
        <p><strong><%= message.user.username %></strong>, the <%= message.created_at %></p>
        <p><%= message.content %> <% if policy(message).destroy? %>
            <%= link_to "Delete", jamm_message_path(@jamm, message), method: :delete,
                data: { confirm: "Are you sure?" } %><% end %></p>
        <% end %>
</div>
  </div>
    </div>

<div id="Reviews" class="tabcontent">
  <div class="container-fluid">
    <div class="row">
        <h3 class="h3-tab-content-title">Reviews</h3>
        <% @reviews.each do |review| %>
        <p><strong><%= review.title %></strong><% if review.title.empty? %><strong>Review</strong></p><% end %>
        <p>by <%= review.participation.user.username %></p>
        <p><%= review.content %></p>
        <p><strong>Rating : </strong><%= review.rating %>/5</p><br>
        <% end %>
    </div>
  </div>
</div>

<div class="container container-sticky-right">
  <div class="hover">
    <span>Jam Toolbar</span>
    <a class="jam-options-link" href="/" target="_self">
      <i class="fas fa-home"></i></a>
    <a class="jam-options-link" href="/dashboard" target="_self">
      <i class="fas fa-user"></i></a>
    <a class="jam-options-link" href="" target="_self">
      <i class="fas fa-search"></i>
    </a>
    <%= link_to destroy_user_session_path, method: :delete, class: "jam-options-link",target:"_self",rel:"nofollow" do %>
        <i class="fas fa-sign-out-alt"></i>
        <% t(".sign_out", default: "Log out") %>
    <% end %>
  </div>
</div>
